body, header, section, p, ul, li {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*display: flex;*/
    /*flex-wrap: wrap;*/
}
header {
    width: 55%;
    margin: 0 20px;
}
a {
    text-decoration: none;
    color: inherit;
    font-weight: bold;
}
ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0;
    /*shape-outside: circle(50%);*/
}

ul li {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    position: relative;
    margin: 5px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    text-align: center;
    border: 1px solid #06AA9C;
    cursor: pointer;
    text-overflow: ellipsis;
    word-break: break-all;
    transition: 1s box-shadow;
    font-size: 13px;
}

ul li a {
    display: none;
    padding: 2px 8px;
    text-decoration: none;
    color: #12bdff;
    outline: rgba(209, 255, 214, 0.53);
}
ul li:nth-child(1n) {
    background: url("https://drive.google.com/uc?export=view&id=16r7gPm8sxxuR_9c1rL9grpxZS1wYhs_r") no-repeat center center / cover;
}

ul li:nth-child(2n) {
    background: url("https://drive.google.com/uc?export=view&id=1MrzslNrcpu3BD2QPB8fzDk9XOm_KMbfr") no-repeat center center / cover;
}

ul li:nth-child(3n) {
    background: url("https://drive.google.com/uc?export=view&id=1Fn04CXnWPqSM_I3npFHDU2G08t2HkqDS") no-repeat center center / cover;
}

ul li:nth-child(4n) {
    background: url("https://drive.google.com/uc?export=view&id=1Uq0rxwcI07iB8CRKO7AhnzkltQUizuCs") no-repeat center center / cover;
}

ul li:nth-child(5n) {
    background: url("https://drive.google.com/uc?export=view&id=15J13NUOLJQS4DMHUCc0FNrx0gVmygzJm") no-repeat center center / cover;
}

ul li:nth-child(6n) {
    background: url("https://drive.google.com/uc?export=view&id=1MoaMAWOwTTfae53tcuDDlAvTvZ91MbhC") no-repeat center center / cover;
}

ul li:nth-child(7n) {
    background: url("https://drive.google.com/uc?export=view&id=10CG4NzrQMuS50h0Wpza46XLJYY_ehYs6") no-repeat center center / cover;
}

ul li:nth-child(8n) {
    background: url("https://drive.google.com/uc?export=view&id=1d-FZfXLpgqgNvhuXjfYMRgEX-I6bJBLv") no-repeat center center / cover;
}

ul li:nth-child(10n) {
    background: url("https://drive.google.com/uc?export=view&id=1pXBpMwmqYt2z48KAZQh85YlZuEZf7MGn") no-repeat center center / cover;
}

ul li:hover {
    box-shadow: 0 25px 55px 10px rgba(0, 0, 0, .1);
    background: #fff;
    border: 1px solid rgba(0, 0, 0, 0);
}

ul li:hover a {
    display: block;
}

ul li:hover:before, ul li:hover:after {
    content: '';
    display: block;
    position: absolute;
    width: 80px;
    height: 80px;
    background: #de4383;
    border-radius: 50%;
    z-index: -1;
    animation: 1s clockwise infinite;
}

ul li:hover:after {
    background: rgba(18, 189, 255, 0.67);
    animation: 2s counterclockwise infinite;
}

@keyframes clockwise {
    0% {
        top: -5px;
        left: 0;
    }
    12% {
        top: -2px;
        left: 2px;
    }
    25% {
        top: 0;
        left: 5px;
    }
    37% {
        top: 2px;
        left: 2px;
    }
    50% {
        top: 5px;
        left: 0;
    }
    62% {
        top: 2px;
        left: -2px;
    }
    75% {
        top: 0;
        left: -5px;
    }
    87% {
        top: -2px;
        left: -2px;
    }
    100% {
        top: -5px;
        left: 0;
    }
}

@keyframes counterclockwise {
    0% {
        top: -5px;
        right: 0;
    }
    12% {
        top: -2px;
        right: 2px;
    }
    25% {
        top: 0;
        right: 5px;
    }
    37% {
        top: 2px;
        right: 2px;
    }
    50% {
        top: 5px;
        right: 0;
    }
    62% {
        top: 2px;
        right: -2px;
    }
    75% {
        top: 0;
        right: -5px;
    }
    87% {
        top: -2px;
        right: -2px;
    }
    100% {
        top: -5px;
        right: 0;
    }
}

article {
    top: 0;
    right: 0;
    width: 42%;
    position: absolute;
    color: #FFFFFF;
}

article header:after {
    content: "";
    border-top: 200px solid rgba(18, 189, 255, 0.38);
    border-bottom: 150px solid rgba(18, 189, 255, 0.38);
    border-right: 150px solid rgba(18, 189, 255, 0.38);
    border-left: 200px solid rgba(18, 189, 255, 0.38);
    border-top-left-radius: 450px;
    border-top-right-radius: 0;
    border-bottom-left-radius: 450px;
    border-bottom-right-radius: 450px;
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
}

article header {
    text-align: right;
    margin: 100px 40% 0 ;
}

article section {
    width: 75%;
    text-indent: 20px;
    /*margin-left: 40%;*/
}
article section:after {
     content: "";
     border-radius: 50%;
     position: absolute;
     z-index: -1;
     right: 0;
 }
article section:first-of-type{
    margin: 80px 0 0 35px;
}
article section:first-of-type:after {
    border: 255px solid rgba(18, 189, 255, 0.38);
    top: 20%;
    right: 12%;
}
article section:last-child {
    width: 75%;
    margin: 20px 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
article section:last-child:after {
    border: 265px solid rgba(68, 255, 181, 0.72);
    top: 60%;
}
footer {
    width: 100%;
    text-align: center;
}