body, header, section, p, ul, li {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*display: flex;*/
    /*flex-wrap: wrap;*/
}
header {
    width: 55%;
    margin: 0 20px;
}
h1, nav h2 {
    margin-left: 10px;
}

a {
    text-decoration: none;
    color: inherit;
    font-weight: bold;
}
ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0;
}

ul li {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    position: relative;
    margin: 5px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    text-align: center;
    border: 1px solid rgba(255, 232, 86, 0.61);
    background-size: 150% 150%;
    cursor: pointer;
    text-overflow: ellipsis;
    word-break: break-all;
    transition: 1s box-shadow;
    font-size: 11px;
}
ul li:nth-child(1n) {
    background: linear-gradient(-45deg, #ee1879, #e7a6a9, #36e4ff, #23D5AB);
    animation: Gradient 5s ease infinite;
    background-size: 150% 150%;
}
ul li:nth-child(3n) {
    background: linear-gradient(-45deg, #eee294, #e7e47c, #36e4ff, #23D5AB);
    animation: Gradient 5s ease infinite;
    background-size: 150% 150%;
}
ul li:nth-child(5n) {
    background: linear-gradient(-45deg, #cabbee, #b73be7, #36e4ff, #23D5AB);
    animation: Gradient 5s ease infinite;
    background-size: 150% 150%;
}
@keyframes Gradient {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}

ul li a {
    padding: 1px 8px;
    text-decoration: none;
    color: #fbfbff;
    outline: rgba(209, 255, 214, 0.53);
}

ul li:hover {
    box-shadow: 0 25px 55px 10px rgba(0, 0, 0, .1);
    background: #fff;
    border: 1px solid rgba(0, 0, 0, 0);
}

ul li:hover a {
    color: #12bdff;
}

ul li:hover:before, ul li:hover:after {
    content: '';
    display: block;
    position: absolute;
    width: 80px;
    height: 80px;
    background: #de11ac;
    border-radius: 50%;
    z-index: -1;
    animation: 1s clockwise infinite;
}
ul li:hover:nth-child(3n):before {
    background: #ffe856;
}
ul li:hover:nth-child(5n):before {
    background: #b73be7;
}
ul li:hover:after {
    background: rgba(18, 189, 255, 0.67);
    animation: 2s counterclockwise infinite;
}

@keyframes clockwise {
    0% {
        top: -5px;
        left: 0;
    }
    12% {
        top: -2px;
        left: 2px;
    }
    25% {
        top: 0;
        left: 5px;
    }
    37% {
        top: 2px;
        left: 2px;
    }
    50% {
        top: 5px;
        left: 0;
    }
    62% {
        top: 2px;
        left: -2px;
    }
    75% {
        top: 0;
        left: -5px;
    }
    87% {
        top: -2px;
        left: -2px;
    }
    100% {
        top: -5px;
        left: 0;
    }
}

@keyframes counterclockwise {
    0% {
        top: -5px;
        right: 0;
    }
    12% {
        top: -2px;
        right: 2px;
    }
    25% {
        top: 0;
        right: 5px;
    }
    37% {
        top: 2px;
        right: 2px;
    }
    50% {
        top: 5px;
        right: 0;
    }
    62% {
        top: 2px;
        right: -2px;
    }
    75% {
        top: 0;
        right: -5px;
    }
    87% {
        top: -2px;
        right: -2px;
    }
    100% {
        top: -5px;
        right: 0;
    }
}

article {
    top: 0;
    right: 0;
    width: 42%;
    position: absolute;
    color: #FFFFFF;
}

article header:after {
    content: "";
    border-top: 200px solid rgba(88, 34, 231, 0.81);
    border-bottom: 150px solid rgba(18, 189, 255, 0.81);
    border-right: 150px solid rgba(88, 34, 231, 0.81);
    border-left: 200px solid rgba(54, 228, 255, 0.81);
    border-top-left-radius: 450px;
    border-top-right-radius: 0;
    border-bottom-left-radius: 450px;
    border-bottom-right-radius: 450px;
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
}

article header {
    text-align: right;
    margin: 100px 40% 0 ;
}

article section {
    width: 75%;
    text-indent: 20px;
    /*margin-left: 40%;*/
}
article section:after {
     content: "";
     border-radius: 50%;
     position: absolute;
     z-index: -1;
     right: 0;
 }
article section:first-of-type{
    margin: 80px 0 0 35px;
}
article section:first-of-type:after {
    border: 255px solid rgba(57, 139, 255, 0.6);
    top: 20%;
    right: 12%;
}
article section:last-child {
    width: 75%;
    margin: 40px 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
article section:last-child:after {
    border: 265px solid rgba(71, 255, 175, 0.87);
    top: 58%;
}
footer {
    width: 100%;
    text-align: center;
    margin-top: 30px;
    color: #ffffff;
}
footer:after, footer:before {
    content: "";
    border-top: 50px solid rgba(88, 34, 231, 0.7);
    border-left: 250px solid rgba(29, 160, 213, 0.7);
    position: absolute;
    z-index: -1;
    bottom: -78%;
}
footer:after {
    border-top-right-radius: 100%;
    right: 31.8%;
}
footer:before{
    border-top-left-radius: 100%;
    right: 50.3%;
}
